services:
  api:
    build: .
    container_name: pantry_api
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy

  celery_worker:
    build: .
    container_name: pantry_worker
    command: celery -A worker.celery worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis

  celery_beat:
    build: .
    container_name: pantry_beat
    command: celery -A worker.celery beat --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: pantry_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5